.game-container {
  float: left;
}

.colors-container {
  margin-left: 20px;
  float: left;
}

.spinner {
  /* width:200px; */
  /* height:200px; */
  position: fixed;
  /* background-color: #00FF00; */
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;

}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
